@import "../../base/variables.sass"

.products
    display: flex
    flex-direction: column
    gap: 24px 

.table
    overflow-x: auto
    @media(max-width: 1023px)
        width: calc(100% + 24px)
        margin-left: -12px
        padding: 0 12px
    & table
        min-width: 750px
        width: 100%
        border-collapse: collapse
        font-size: 16px
        background: #fff
        & th, td
            padding: 15px
        & th
            text-align: left
            color: $grey-light
            font-weight: 500
        & tr
            border-top: 1px solid $grey-extra-light
        & thead tr
            border: none
    &__image
        width: 30px
        margin: 0 auto
        & img
            width: 100%